@if (grid)
{
    <mat-grid-list class="grid" [cols]="grid.length">
        <mat-grid-tile *ngFor="let cell of grid.flat()"
                       [colspan]="1"
                       [rowspan]="1"
                       class="cell"
                       [class.new]="cell.committedValue !== cell.value && this.activeField !== cell"
                       [class.selected]="this.activeField === cell"
                       [class.doubleletter]="cell.multiplier === 'DL'"
                       [class.tripleletter]="cell.multiplier === 'TL'"
                       [class.doubleword]="cell.multiplier === 'DW'"
                       [class.tripleword]="cell.multiplier === 'TW'"
                       (click)="selectCell(cell)">
            <div class="value"
                 [class.doubleletter]="cell.multiplier === 'DL'"
                 [class.tripleletter]="cell.multiplier === 'TL'"
                 [class.doubleword]="cell.multiplier === 'DW'"
                 [class.tripleword]="cell.multiplier === 'TW'">
                {{ cell.value }}
            </div>
        </mat-grid-tile>
    </mat-grid-list>
} @else {
    Loading...
}
<button mat-button (click)="commitWord()">Activate</button>
